.page {
  min-height: 100vh;
  background-color: rgba(42, 44, 47, 1);
}

/* .page__section {
  max-width: 1280px;
  margin: 0 auto;
} */

.page__section1 {
  max-width: 1280px;
  margin: 0 148px;
}

.page__section2 {
  margin: 0 347px 0 148px;
}

.centered {
  text-align: center;
}

.left-aligned {
  margin-left: 0;
  text-align: left;
}
